#page-about {    
    background: linear-gradient(to bottom, rgb(0, 204, 255), white);
}
#page-about li {
    list-style-type: none;
    font-family: 'Varta', sans-serif;
    font-size: 22px;
    display: flex;
    align-items: center;
    line-height: 2;
}

#page-about h2 {
    color:black;
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
    margin-top: 50px;
}

#page-about .sidebar h1 {
    color: white;
    text-shadow: 0.05em 0.01em 0.1em black;
}


#page-about .page-content {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 2fr 0.8fr 1.2fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "about skills img"
        "caracteristics skills img"
    ;
}

#page-about .page-content .about{
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-about .page-content .about h1{
    text-shadow: white 0.05em 0.01em 0.02em;
    color:black;
    font-family: 'Prompt', sans-serif;
    font-size: 74px;
}

#page-about .page-content .about p{
    color:black;
    font-family: 'Varta', sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 0px 150px 0px 150px;
}

#page-about .page-content .carateristics {
    grid-area: caracteristics;
    line-height: 1.5;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-about .page-content .carateristics ul  {
    margin: 20px 0px 0px 70px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 20px;
}

#page-about .page-content .skills {
    grid-area: skills
    
}

.carateristics ul svg, .skills ul svg {
    margin-right: 15px;
}

#page-about .page-content .skills ul{
    margin-top: 25px;
    
}

#page-about .page-content .image {
    grid-area: img;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 350px;
}

@media(max-width: 980px) {
    #page-about .page-content {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 2fr, 1fr, 1fr;
        grid-template-areas: 
            "about img"
            "caracteristics caracteristics"
            "skills skills"
        ;
    }

    #page-about .page-content .about {
        grid-area: about;
        margin: auto;
    }

    #page-about .page-content .about h1{
        font-size: 48px;
    }

    #page-about .page-content .about p{
        padding: 0px 20px 0px 20px;
        font-size: 22px;
        max-width: 350px;        
    }
    
    #page-about .page-content .image {
        grid-area: img;
        height: 220px;
        width: 220px;
        margin: auto;
    }

    #page-about .page-content .carateristics {
        grid-area: caracteristics;
        margin: auto;
    }
    
    #page-about .page-content .carateristics h2{
        margin: 25px 0px 15px 0px;
        font-size: 20px;
    }
    
    #page-about .page-content .carateristics li{
        font-size: 18px;
        padding: 0px;
    }

    #page-about .page-content .carateristics ul {
        padding: 0px;
        margin: 0px;
        column-gap: 0px;
    }

    #page-about .page-content .skills {
        grid-area: skills;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #page-about .page-content .skills h2 {
        margin-top: 25px;
        font-size: 20px;
    }

    #page-about .page-content .skills ul  {
        padding: 0px;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        column-gap: 10px;
        margin: 15px;
    }

    #page-about .page-content .skills li{
        font-size: 18px;
    }
}