#page-contact {
    background: rgba(252, 252, 252, 0.89)
}

#page-contact {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo links";
}

#page-contact .page-logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-self: center;
}

#page-contact .page-logo h1{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 28px;
    font-weight: 400;
    text-shadow: .08em .09em 0.08em rgb(173, 173, 173);
}

#page-contact .page-links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#page-contact .page-links h1 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 28px;
}

#page-contact .page-links h2 {
    display: flex;
    line-height: 1.8;
    align-items: center;

    font-family: 'Varta', sans-serif;
    text-align: center;
    font-size: 19px;
}
#page-contact .page-links svg {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

@media(max-width: 980px) {
    #page-contact  {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
        grid-template-areas: 
            "links"
            "logo"
        ;
    }

    #page-contact .page-links {
        grid-area: links;
    }
    
    #page-contact .page-links h1 {
        display: flex;
        justify-content: center;
        font-size: 38px;
    }
    
    #page-contact .page-links h2 {
        margin-left: -18px;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }

    #page-contact .page-logo h1 {
        grid-area: logo;
        font-size: 28px;
    }
}