#page-home h1 {
    color: white;
}

#page-home {
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(to bottom, black, rgb(31, 31, 170) ,rgb(0, 204, 255), white); */
    background: linear-gradient(to top, rgb(0, 238, 255), rgb(43, 43, 43));
}

#page-home .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

#page-home .content h1{
    color: white;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    font-size: 72px;
    text-shadow: black 0.01em 0.01em 0.2em
}

#page-home .content h2{
    color: black;
    font-family: 'Oxanium', cursive;
    font-weight: 500;
    font-size: 52px;
    text-shadow: white 0.01em 0.01em 0.2em
}