#page-portfolioExtension {
    height: 100vh;
    background: linear-gradient(to top,rgb(0, 217, 255), white );
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "info img";
}

#page-portfolioExtension .sidebar {
    grid-area: info;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    
    
}

#page-portfolioExtension .sidebar p {
    font-family: 'Oxanium', cursive;
    font-weight: 500;
    font-size: 18px;
    text-shadow: black 0.01em 0.01em 0.2em
}
#page-portfolioExtension .sidebar a {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(94, 94, 94, 0.178);
    padding: 25px;
}

#page-portfolioExtension .sidebar a svg {
    margin-right: 5px;
    transform: rotate(180deg);
}

#page-portfolioExtension .sidebar h1 {
    height: 50vh;
    font-family: 'Oxanium', cursive;
    font-weight: 500;
    font-size: 52px;
    text-shadow: white 0.2em 0.1em 0.2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-portfolioExtension .container {
    grid-area: img;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
 
}

#page-portfolioExtension .container img {
    height: 250px;
    width: 430px;
    box-shadow: 0.05em 0.05em 1em black;
    border-radius: 3px;
    margin: 18px;
}